<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Add Grocery Item
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr mur-grocery-item ng-repeat="item in groceryItems | orderBy: '-date'" class="text-left"/>
            <!--tr>
                <phone-list></phone-list>
            </tr-->
        </tbody>
    </table>
</div>