<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Add Grocery Item
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in groceryItems | orderBy: '-date'" class="text-left">
                <th scope="row">{{item.id}}</th>
                <td>
                    <span style="font-weight: bold">{{item.title | uppercase}}</span>
                </td>
                <td>
                    <span>{{item.description}}</span>
                </td>
                <td>
                    <span>{{item.price | currency: "€"}}</span>
                </td>
                <td>
                    <a href="#/addItem/edit/{{item.id}}" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="removeItem(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>