<div class="panel panel-default">
    <div class="panel-heading">Meal Planner</div>
    <div class="panel-body">
        <table id="plannerTable">
            <tr>
                <th></th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
                <th>Snack</th>
            </tr>
            <tr ng-repeat="day in $ctrl.plan.days">
                <th>{{day.name}}</th>
                <td ng-repeat="mealTime in day.mealTimes">
                    <planner-table-cell links="mealTime._links"></planner-table-cell>
                </td>
            </tr>
        </table>
        <food-list plan="$ctrl.plan"></food-list>
    </div>
</div>