<div class="panel panel-default">
    <div class="panel-heading">Meals Planner</div>
    <div class="panel-body">
        <table class="plannerTable" id="plannerTable">
            <tr>
                <th></th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
                <th>Snack</th>
            </tr>
            <tr ng-repeat="day in $ctrl.plan.days">
                <th>{{day.name}}</th>
                <td ng-repeat="mealTime in day.mealTimes">
                    <planner-cell links="mealTime._links"></planner-cell>
                </td>
            </tr>
        </table>
    </div>
</div>