<div style="margin: 10px">
    <h3 style="text-align: center">Select food product to add</h3>

    <table class="table table-striped">
        <tr ng-repeat="item in groceries" class="text-left">
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="selected[item.id]">{{item.title}}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" style="padding-right: 15px">
                <button ng-click="save()" class="btn btn-warning">Save</button>
            </td>
        </tr>
    </table>

</div>