body {
    /*background-image:url("/images/background4.jpg");*/
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

article {
    margin: 10px 10px 10px 10px;
}

/*.strike {
    text-decoration: line-through;
}*/

.strike {
    position: relative;
}

.strike::after {
    border-bottom: 3px solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
}

/* Planner table styles */

#plannerTable {
    border-collapse: collapse;
    width: 70%;
    border-radius: 4px;
    float: left;
}

#plannerTable th {
    background-color: #337ab7; !important;
    color: #fff;
}

#plannerTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#plannerTable tr:nth-of-type(odd) {
    background-color: #ddd;
}

#plannerTable td {
    padding: 5px 5px 5px 5px;
}

#plannerTable td:nth-child(n+2) {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#plannerTable tr:nth-child(n+2) th:nth-child(1) {
    text-align: center;
    width: 30px;
}

#plannerTable tr:nth-child(1) th {
    text-align: center;
}

#plannerTable p {
    margin-bottom: 2px;
}

/* Planner cell */

#plannerTableCell {
    min-height: 70px;
}

/* Food widget styles */

#foodWidget {
    display:inline-block;
    width: 100%;
}

#foodWidgetDelete {
    visibility: hidden;
    float: right;
}

#foodWidgetDelete.glyphicon-remove {
    right: 0;
}

#foodWidget:hover #foodWidgetDelete {
    visibility: visible;
}


