body {
    background-image:url("/images/background4.jpg");
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

/*.strike {
    text-decoration: line-through;
}*/

.strike {
    position: relative;
}

.strike::after {
    border-bottom: 3px solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
}

.PullQuote {
    float: right;
    max-width: 300px;
    border-top: thin black solid;
    border-bottom: thick black solid;
    font-size: 30px;
    line-height: 130%;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}
